.search_query{
	width:300px;
	height:27px;
}

.header {
    width: 100%;
    background-color: #3B5998;
    height: 35px;
    margin-top:0;
}
.style1 {
    margin-right: 38px;
}
.bgstyle {
    width: 100%;
    background-color: #fafaf7;
    height: 35px;
	margin-top:10;
	margin-left:10;
	margin-right:10;
}

.imgstyle{
	width:165px;
}

td a {
  width: 100%;
  display: block;
}

a:link{ //設定還沒有瀏覽過的連結
	text-decoration:underline;
	color:#000000;
	text-decoration:none;
}
a:visited { //設定已經瀏覽過的連結
	text-decoration:underline;
	color:#000000;
	text-decoration:none;
}
a:hover { //設定滑鼠移經的連結
	text-decoration:underline;
	color:#000000;
	text-decoration:none;
}
a:active { //設定正在點選的連結
	text-decoration:underline;
	color:#000000;
	text-decoration:none;
}

.font01{
	font-size:14px;
	font-family:Arial;
	line-height:18px;
}

.font02{
	font-size:13px;
	font-family:verdana;
	line-height:18px;
}

.font03{
	font-size:13px;
	font-family:Arial;
	line-height:18px;
}

.font04{
	font-size:12px;
	font-family:Arial;
	background-color:#ebebe6;
	line-height:18px;
}

.font05{
	
}